<footer class="footer">
    <div class="container-fluid">
      <div class="row text-muted">
        <div class="col-6 text-start">
          <p class="mb-0">
            <a class="text-muted" href="https://github.com/ducna0610/url-shortener/" target="_blank"><strong>Url Shortener</strong></a> - <a class="text-muted" href="https://github.com/ducna0610/" target="_blank"><strong>ducna0610</strong></a>								&copy;
          </p>
        </div>
        <div class="col-6 text-end">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted" href="https://www.linkedin.com/in/ducna0610/" target="_blank">
                <i class="align-middle" data-feather="linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://github.com/ducna0610/" target="_blank">
                <i class="align-middle" data-feather="github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://www.facebook.com/ducna0610/" target="_blank">       
                <i class="align-middle" data-feather="facebook"></i>         
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>